/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	--nav-color:#143F6B;
	
}
body{
  font-family: 'Nunito', sans-serif;
  background: #fffafa !important;
  overflow-x: hidden;
}
.c_img{
  width: 100% !important;
  height: 350px !important;
}
.link_tag{
  text-decoration: none;
  list-style: none;
  color: #333;
}
.nav-link{
  text-transform: uppercase;
	list-style: none;
	color: #fff;
  padding: 10px;
  transition: all 0.3s ease;
}
.nav-link:hover{
  color: #FEB139;
}
.nav-link-prod{
  text-decoration: none;
  list-style: none;
	color: #000;
}
.nav-link-prod:hover{
  color: rgb(44, 40, 40);
}
.navbar{
	background: var(--nav-color);
}

.prodname{
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.card{

}
.prodimg_details{
  width: 100% !important;
  height: 350px !important;
}
.prodimg{
  width: 100% !important;
  height: 200px !important;
}
.prodrating{
   font-size: 16px;
   cursor: pointer;
   text-align: left;
}
.prodprice{
  font-size: 16px;
  opacity: 0.5;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}
.proddesc{
  font-size: 14px;
  opacity: 0.5;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.header-image{
   width: 100%;
   height: 450px;
   object-fit: cover;
}





.container{
  display: flex; 
  justify-content: center; 
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
    background: #fff;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}
h1{
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.card_img{
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card:hover{
    background-color: #636e72;
    color: #fff;
    transition: all 0.5s ease;
}
.card_1{
    background-image: url('https://images.pexels.com/photos/9811521/pexels-photo-9811521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.card_2{
    background-image: url('https://images.pexels.com/photos/9811521/pexels-photo-9811521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.card_3{
    background-image: url('https://images.pexels.com/photos/9811521/pexels-photo-9811521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.card h2{
   font-size: 1.5rem;
   font-weight: 600;
   text-align: center;
}
.card p{
    padding: 10px;
}

.card a{
    background-color: #74b9ff;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    display: block;
    margin: 15px 40px;
    text-decoration: none;
}



.coaching_card{
  background: #fff;
  width: 600px;
  margin: 10px;
  border-radius: 15px;
}


.all_card_text{
  align-items: center !important;
  padding: 10px !important;
  color: #FEB139;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width : 760px){
      .container {
          flex-direction: column;
      }
}